.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        .button {
            margin-top: 24px;
        }

        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            &:nth-child(2) { // seleciona o elemento dentro da tag
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;

                @media (max-width: 768px) {
                    max-width: 100%;
                    height: 76px;
                }
            }
            
            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}